//====== Font ======
$fontFamily: 'RobotoCondensed';
$font-primary: 'RobotoCondensed', sans-serif;


//====== Colors ======

$accent-color: #232A3E;

//====== Breakpoints ======

//Desktop First (Max-width)

// max-width

$sm: 575.98;
$md: 767.98;
$lg: 991.98;
$xl: 1199.98;
$xxl: 1439.98;

// min-width